In [1]:
##import libraries##
import pandas as pd
import numpy as np
from scipy import stats

In [11]:
##create dataset##
data=pd.DataFrame({
                   "Age":[22,38,26,35,28,40,30,29,50,41],
                   "Salary":[2500,3500,2800,4000,3000,4200,3200,3100,5000,4500],
                   "Experience":[1,10,3,8,4,12,6,5,20,15]})

In [12]:
print("First 5 rows:")
print(data.head(),"\n")

print("Data types anad info:")
print (data.info(),"\n")

print("Summary statistics:")
print(data.describe(),"\n")

First 5 rows:
   Age  Salary  Experience
0   22    2500           1
1   38    3500          10
2   26    2800           3
3   35    4000           8
4   28    3000           4

Data types anad info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         10 non-null     int64
 1   Salary      10 non-null     int64
 2   Experience  10 non-null     int64
dtypes: int64(3)
memory usage: 372.0 bytes
None

Summary statistics:
             Age       Salary  Experience
count  10.000000    10.000000   10.000000
mean   33.900000  3580.000000    8.400000
std     8.451824   810.760959    5.910443
min    22.000000  2500.000000    1.000000
25%    28.250000  3025.000000    4.250000
50%    32.500000  3350.000000    7.000000
75%    39.500000  4150.000000   11.500000
max    50.000000  5000.000000   20.000000

In [13]:
for col in data.columns:
    print(f"Feature: {col}")
    print(f"  Mean: {data[col].mean():.2f}")
    print(f"  Median: {data[col].median():.2f}")
    print(f"  Mode: {data[col].mode()[0]:.2f}")
    print(f"  Std Dev: {data[col].std():.2f}\n")

Feature: Age
  Mean: 33.90
  Median: 32.50
  Mode: 22.00
  Std Dev: 8.45

Feature: Salary
  Mean: 3580.00
  Median: 3350.00
  Mode: 2500.00
  Std Dev: 810.76

Feature: Experience
  Mean: 8.40
  Median: 7.00
  Mode: 1.00
  Std Dev: 5.91

In [14]:
print("Correlation matrix:")
print(data.corr())

Correlation matrix:
                 Age    Salary  Experience
Age         1.000000  0.966084    0.988464
Salary      0.966084  1.000000    0.968753
Experience  0.988464  0.968753    1.000000

In [ ]:
print("Correlation matrix:")
print(data.corr())